matplotlib==3.4.3
pandas==1.3.4
scipy==1.7.1
seaborn==0.11.2
numpy==1.21.2
pytest==6.2.5
pytest-cov==3.0.0
scikit-learn==1.0
svgutils==0.3.4
pylint==2.11.1
manubot==0.5.1
pandoc-fignos==2.4.0
pandoc-eqnos==2.5.0
pandoc-tablenos==2.3.0
panflute==2.1.0
tensorly==0.6.0
FlowCytometryTools==0.5.1
