matplotlib==3.2.1
pandas==1.0.3
scipy==1.4.1
seaborn==0.10.0
numpy==1.18.2
pytest
hypothesis==5.8.0
hypothesis-numpy==2.0.0
parameterized==0.7.1
pytest-xdist
pytest-cov
scikit-learn==0.22.2.post1
svgutils==0.3.1
FlowCytometryTools==0.5.0
gprof2dot
pylint
manubot==0.3.1
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
weasyprint==51
